.urlText {
  font-size: 15px;
  width: 85%;
  height: 30px;
  border: 0px;
  outline: none;
  background-color: rgb(240, 240, 240);
}

.textButton {
  border: 0px;
  cursor: pointer;
  font-size: 15px;
}

.textButton:hover {
  color: gray;
}
