.card {
  box-shadow: 2px 2px 10px #cacaca;
  display: inline-block;
  width: 600px;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
}

.card h1 {
  font-weight: bold;
}

.margin-left-25 {
  margin-left: 25px;
}

.margin-right-25 {
  margin-right: 25px;
}

.margin-25 {
  margin: 25px;
}

.margin-left-15 {
  margin-left: 15px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.fileupload {
  height: 30px;
}

.button-normal {
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border: 0px solid gray;
  color: white;
  font-size: 15px;
  background-color: #6a99ff;
  cursor: pointer;
}

.button-normal:hover {
  background-color: #598eff;
}

.button-normal:active {
  background-color: #8fb2fd;
}

.button-upload {
  position: relative;
  display: inline-block;
  background: #918ffd;
  overflow: hidden;
  padding: 5px 15px;
  text-decoration: none;
  text-indent: 0;
  line-height: 20px;
  color: white;
  font-size: 15px;
}

.button-upload:hover {
  background: #8684fa;
}

.button-upload input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}


.list-box {
  border: 1px solid #cacaca;
  overflow-y: auto;
  overflow-x: auto;
  /* box-shadow: 2px 2px 10px #cacaca; */
  /* border-radius: 5px; */
  height: 300px;
  max-height: 400px;
  width: 100%;
  margin-top: 20px;
}

.yktable {
  width: 100%;
  border-collapse: collapse;
}

.yktable th {
  width: auto;
  height: 40px;
  text-align: left;
  background-color: rgb(218, 218, 218);
  border: 1px solid #cacaca;
  border-top: none;
  border-right: none;
}

.yktable td {
  width: auto;
  height: 30px;
  text-align: left;
  border: 1px solid #cacaca;
  border-right: none;
}
